.dashedBorder {
   border: 1px dashed light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
   border-radius: var(--mantine-radius-md);
   padding: var(--mantine-spacing-md);
}
.border {
   border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
   border-radius: var(--mantine-radius-md);
   padding: var(--mantine-spacing-md);
}